@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <canvas id='drawingpad' width='400' height='300'></canvas>    
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>